# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
app/tf-server

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Coverage report
app/coverage.html

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Backups
*~
\#*#
.*.swp

# Editor environments
.vscode/

# Linter cache
.golangci-cache/

# Mac files
.DS_Store
