<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/public/favicon.ico" type="image/x-icon">
	<title>{{ .Title }} - TeamFeedback</title>
	{{block "resources" .}}
	<link rel="stylesheet" href="/public/css/styles.css" />
	{{end}}
</head>
<body>
	<header>
	{{block "header" .}}
		<h1>TeamFeedback</h1>
	{{end}}
	</header>
	{{template "nav" .}}
	<main>{{template "main" .}}</main>
	<footer>
	{{block "footer" .}}
	<p>
		TeamFeedback &copy; 2023 Aidan Hoover and Aiden Woodruff<br>
		This work is licenced under a
		<a href="https://opensource.org/license/BSD-3-clause/">
			BSD-3-Clause<!--
		--></a> license.
	</p>
	{{end}}
	</footer>
</body>
</html>
