{{define "resources"}}
<script
	src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
	integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
	crossorigin="anonymous"
></script>
<link rel="stylesheet" href="/public/css/admin.css" />
<script src="/public/js/useradmin.js"></script>
{{end}}
{{define "nav"}}
{{template "nav-admin" "Users"}}
{{end}}
{{define "main"}}
<p class="admin-list-title">Users</h3>
<table class="admin-list user-list">
	<thead>
		<tr class="admin-list__header">
			<td><input type="checkbox" class="admin-list__head-checkbox" /></td>
			<td class="admin-list__heading">Name</td>
			<td class="admin-list__heading">Controls</td>
		</tr>
	</thead>
	<tbody>
		{{range .Users}}
		<tr class="admin-list__entry user-list__entry">
			<td>
				<input type="checkbox" class="admin-list__checkbox">
			</td>
			<td class="user-list__name">{{ .Name }}</td>
			<td class="user-list__controls">
				<input type="button" value="Modify" class="user-list__modify">
				<input type="button" value="Remove" class="user-list__remove">
			</td>
		</tr>
		{{end}}
	</tbody>
</table>
<input type="button" value="Add" class="user-add-btn">
<input type="button" value="Remove (0 selected)" class="admin-remove-btn users-remove-btn" disabled>
{{end}}
