name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    paths:
    - "**/*.go"
    - "**/go.{mod,sum}"
    - app/Makefile

defaults:
  run:
    working-directory: app

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - run: make build
  vet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - run: make vet
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - run: make fmt
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - uses: golangci/golangci-lint-action@v3
        with:
          version: latest
  unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - run: make unittest
      - run: make cover
      - name: Archive code coverage report.
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: app/coverage.html
