name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    paths:
    - "**/*.go"
    - "**/go.{mod,sum}"
    - app/Makefile

defaults:
  run:
    working-directory: app

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: app/go.mod
          cache-dependency-path: app/go.sum
      - run: make build
  vet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: app/go.mod
          cache-dependency-path: app/go.sum
      - run: make vet
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: app/go.mod
          cache-dependency-path: app/go.sum
      - run: make fmt
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: app/go.mod
          cache-dependency-path: app/go.sum
      - run: make install-golangci
      - name: Cache golangci
        uses: action/cache@v1
        with:
          path: ~/.golangci-cache
          key: golangci-${{ hashFiles('**/go.mod') }}
      - run: make lint
        env:
          GOLANGCI_LINT_CACHE: ~/.golangci-cache
  unittest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: app/go.mod
          cache-dependency-path: app/go.sum
      - run: make unittest
      - run: make cover
      - run: make coverage.html
      - name: Archive code coverage report.
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: app/coverage.html
