name: PR Title Check
on:
  pull_request:
    types: [edited, opened, reopened]

jobs:
  title-check:
    runs-on: ubuntu-latest
    steps:
    - name: Check PR title tag.
      uses: Slashgear/action-check-pr-title@v4.3.0
      with:
        regexp: "^\\[(Breaking|Feature|Fix|Docs|Dev)\\] .+$"
        helpMessage: >-
          This PR does not have a valid title tag. Valid tags are [Breaking],
          [Feature], [Fix], [Docs], and [Dev]. See the file
          .github/pull_request_template.md for examples.
    - name: Check PR title length.
      uses: Slashgear/action-check-pr-title@v4.3.0
      with:
        regexp: "^.{1,80}$"
        helpMessage: "Title must be 80 characters or less."
